# Build and Release Folders
bin-debug/
bin-release/
bin/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

#MacOSX bits
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Private bits and pieces I wouldn't want to accidentally commit
*.p12
.password
*.mobileprovision

# Ignore builds
*.ipa
*.swf
*.a

# Xcode cruft
# Xcode
build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
DerivedData
