# Build and Release Folders
bin-debug/
bin-release/

# Project property files
.actionScriptProperties
.flexProperties
.settings/
.project

#MacOSX bits
.DS_Store

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Private bits and pieces I wouldn't want to accidentally commit
*.p12
.password
*.mobileprovision

# Ignore builds
*.ipa
